!!! 5
html
 head
  title= title
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  script(type='text/javascript')
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', '#{ga.account}']);
   _gaq.push(['_trackPageview']);
   facebook = !{facebook};
   user = !{user};
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/jquery.js')
  script(type='text/javascript', src='/javascripts/jquery.iframe-transport.js')
  script(type='text/javascript', src='/javascripts/md5.js')

  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='icon', type='image/png', href='/images/y.png')

  script(type='text/javascript', src='/javascripts/script.js')
 body!= body
