!!! 5
html
 head
  title= title
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript')
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', '#{ga.account}']);
   _gaq.push(['_trackPageview']);
   facebook = !{facebook}
   user = !{user}
  script(src='//static.ak.fbcdn.net/connect/en_US/core.js')
  script(type='text/javascript', src='/javascripts/jquery.js');
  script(type='text/javascript', src='/javascripts/md5.js');
  script(type='text/javascript', src='/javascripts/script.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
 body!= body
